<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% include ../partials/head %>
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="posts">
<!-- main start -->

<!-- views/posts/index.ejs -->
<div class="edit">
  <h3> edit Post </h3>
  <form class="posts_form" action="/posts/<%=post._id%>?_method=put" method="post">
    <label>Title</label>
    <input type="text" name="post[title]" value="<%=post.title%>">
    <label>Body</label>
    <textarea name="post[body]"><%=post.body%></textarea>
    <div class="float_right">Auther: <%=user.nickname %></div>
    <button type="submit">Submit</button>
  </form>
  <a href="javascript:history.back();"><button>back</button>
</div>
<!--- posts end -->
</div>
   <footer>
     <% include ../partials/footer %>
   </footer>
 </body>
</html>
